$main-bg: hsl(233,37%,7%);
$card-bg: hsl(244,38%,16%);
$accent: hsl(277,64%,61%);
$wop6: hsl(0,0%,100%,0.6);
$wop75: hsl(0,0%,100%,0.75);


body {
	background: $main-bg;
	display: flex;
	height:100vh;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	font-family: 'Inter', sans-serif;
	color: white;
}
h1 {
	font-size: 2.5rem;
}
h2{
	margin-bottom: 0;
}
p{
font-family: 'Lexend Deca', sans-serif;
line-height: 1.6;
font-size: 0.9rem;
color: $wop75;
}
.desc {
color: $wop6;
text-transform: uppercase;
line-height: 100%;
margin: 0;
}
.accent{
	color: $accent;
}

#main{
	background: $card-bg;
	max-width: 1100px;
	max-height: 443px;
	display:flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
	overflow: hidden;
}
.container {
	width: 60%;
	height: 100%;
	display:flex;
	flex-flow: column nowrap;
	justify-content: space-evenly;
	padding: 25px 100px 50px 75px;
}
.info{
width:100%;
}
.img-header {
	background: $accent;
	position:relative;
	height: 100%;
	width: auto;
	object-fit: contain;
	& > img{
		display: block;
		opacity: 0.8;
		height: 100%;
		width: auto;
	}
}
.end-container{
display:flex;
align-items: center;
justify-content: space-between;
margin-top: 1rem;
}
.item{
font-family: 'Lexend Deca', sans-serif;
}

@media (max-width: 1005px){

body {
	background: $main-bg;
	height: auto;
	margin: 5rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8rem;
	font-family: 'Inter', sans-serif;
	color: white;
}
p{
	font-size: .9rem;
	margin: 0 2.3rem;
}
h1, h2{
	font-size: 1.7rem;
	font-weight:700;
	margin:1.6rem 2rem .7rem;
}
#main{
	background: $card-bg;
	max-height:unset;
	display:flex;
	flex-flow: column-reverse nowrap;
	align-items: center;
	border-radius: 10px;
}
.container {
	display:flex;
	flex-flow: column nowrap;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	width: 100%;
	max-width:500px;
	height: auto;
	margin: 0;
	padding: 0 2rem 3rem;
}
.end-container{
display:flex;
flex-flow: column nowrap;
align-items: center;
}
.item{
margin-top:30px;
display:flex;
flex-flow: column nowrap;
align-items: center;
}

.img-header {
		width: 100%;
		height: auto;
		object-fit: contain;
	& > img{
		mix-blend-mode: multiply;
		width: 100%;
		height: 100%;
	}
}
}
